:root {
	--color-bg: #F8F2F0;
	--color-title: #AD9A8D;
	--color-placeholder: #BA9F92;
	--color-font-normal: #80624B;
	--color-item-checked: #E0DBCE;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--color-bg);
}

.clickable {
	cursor: pointer;
}

.content {
	margin: 0 auto;
	max-width: 360px;
}

.title {
	margin: 2rem 0;
	text-align: center;
	font-family: 'Josefin Sans', serif;
	font-weight: 100;
	font-size: 72px;
	color: var(--color-title);
}
.title__highlight {
	font-weight: 300;
}

#new-list-item {
	all: unset;
	font-family: 'Roboto Slab', serif;
	font-size: 22px;
	color: var(--color-font-normal);
}
#new-list-item::placeholder {
	color: var(--color-placeholder);
}


.card {
	display: flex;
	align-items: baseline;
	width: 100%;
	color: var(--color-font-normal);
	background-color: white;
	border-radius: 8px;
	padding: 12px 24px;
	box-sizing: border-box;
	box-shadow: 0 19px 36px -5px rgba(111, 96, 72, .09);
}
.card > *:nth-child(2) {
	margin-left: 16px !important;
}

.todo-items__list {
	margin-top: 32px;
}
.todo-items__list > li {
	list-style: none;
	font-family: 'Roboto Slab', serif;
	font-size: 22px;
	margin: 16px 0;
}

.card__checkmark {
	position: relative;
	width: 16px;
	height: 16px;
}
.card__checkmark-ring {
	position: absolute;
	top: 0;
	left: 0;
	transform: scale(1, 1);
	opacity: 1;
	transition:
		transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__checkmark-ring--hidden {
	transform: scale(1.8, 1.8);
	opacity: 0;
}
.card__checkmark-check {
	position: absolute;
	top: 0;
	left: 0;
	transform:
		scale(1, 1)
		rotateZ(0deg);
	opacity: 1;
	transition:
		transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__checkmark-check--hidden {
	transform:
		scale(0, 0)
		rotateZ(180deg);
	opacity: 0;
}

.card__p {
	position: relative;
}
.card__p::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 0%;
	height: 2px;
	background-color: var(--color-font-normal);
	transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__p--hover::after {
	width: 20px !important;
}
.card__p--checked {
	color: var(--color-item-checked) !important;
}
.card__p--checked::after {
	width: 100% !important;
	background-color: var(--color-item-checked) !important;
}