:root {
	--color-bg: #f2eee7;
	--color-title: #AD9A8D;
	--color-placeholder: #BA9F92;
	--color-font-normal: #80624B;
	--color-item-checked: #E0DBCE;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--color-bg);
}

.clickable {
	cursor: pointer;
}

.content {
	margin: 0 auto;
	max-width: 360px;
}

.title {
	margin: 2rem 0;
	text-align: center;
	font-family: 'Josefin Sans', serif;
	font-weight: 100;
	font-size: 72px;
	color: var(--color-title);
}
.title__highlight {
	font-weight: 300;
}

#new-list-item {
	all: unset;
	font-family: 'Roboto Slab', serif;
	font-size: 22px;
	color: var(--color-font-normal);
}
#new-list-item::placeholder {
	color: var(--color-placeholder);
}


.transition-card {
	z-index: 10;
	position: absolute !important;
	left: 0;
	top: 0;
	opacity: 1;
	visibility: visible;
	transition:
		visibility 0ms,
		opacity 100ms cubic-bezier(0.4, 0, 0.2, 1),
		transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.transition-card--hidden {
	opacity: 0;
	visibility: hidden;
	transition:
		visibility 0ms 300ms;
}


.card {
	position: relative;
	display: flex;
	align-items: baseline;
	width: 100%;
	min-height: 53px;
	color: var(--color-font-normal);
	background-color: white;
	border-radius: 8px;
	padding: 12px 24px;
	box-sizing: border-box;
	box-shadow: 0 19px 36px -5px rgba(111, 96, 72, .09);
	font-family: 'Roboto Slab', serfi;
	font-size: 22px;
}
.card > *:nth-child(2) {
	margin-left: 16px !important;
	width: 100%;
}

.todo-items__list {
	margin-top: 32px;
	transition: transform 0ms 0ms;
}
.todo-items__list--no-transition {
	transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.todo-items__list > li {
	list-style: none;
	margin: 16px 0;
}

.card__checkmark {
	position: relative;
	width: 16px;
	height: 16px;
}
.card__checkmark-ring {
	position: absolute;
	top: 0;
	left: 0;
	transform: scale(1, 1);
	opacity: 1;
	transition:
		transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__checkmark-ring--hidden {
	transform: scale(1.8, 1.8);
	opacity: 0;
}
.card__checkmark-check {
	position: absolute;
	top: 0;
	left: 0;
	transform:
		scale(1, 1)
		rotateZ(0deg);
	opacity: 1;
	transition:
		transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__checkmark-check--hidden {
	transform:
		scale(0, 0)
		rotateZ(180deg);
	opacity: 0;
}

.card__p {
	display: inline;
	background-image:
		linear-gradient(
			transparent 50%,
			var(--color-font-normal) 50%,
			var(--color-font-normal) 60%,
			transparent 60%
		);
	background-size: 0% 100%;
	background-repeat: no-repeat;
	transition:
		background-size 300ms cubic-bezier(0.4, 0, 0.2, 1),
		background-image 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__p--hover {
	background-size: 15px 100%;
}
.card__p--checked {
	color: var(--color-item-checked) !important;
	background-size: 100% 100%;
	background-image:
		linear-gradient(
			transparent 50%,
			var(--color-item-checked) 50%,
			var(--color-item-checked) 60%,
			transparent 60%
		);
}

.card__actions {
	position: absolute;
	display: flex;
	align-items: center;
	top: calc(50% - 22.5px);
	left: -72px;
	overflow: hidden;
}
.card__actions-arrow {
	position: relative;
	margin-right: 16px;
	left: 45px;
	opacity: 1;
	transition:
		left 250ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__actions-arrow--hidden {
	left: 72px;
	opacity: 0;
}
.card__actions-arrow--hover {
	left: 0;
	opacity: 0;
}

.card__action {
	width: 45px;
	height: 45px;
	position: relative;
	left: -16px;
	opacity: 1;
	transition:
		left 300ms cubic-bezier(0.4, 0, 0.2, 1),
		transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__action--hidden {
	left: 45px;
	opacity: 0;
	transform: scale(0.2,0.2);
}

.card__actions-edit {
	width: 45px;
	height: 45px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateZ(0deg);
	transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__actions-edit--hidden {
	transform: rotateZ(-180deg);
}
.card__actions-save {
	width: 45px;
	height: 45px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateZ(0deg);
	opacity: 1;
	transition:
		transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__actions-save--hidden {
	transform: rotateZ(180deg);
	opacity: 0;
}
.card__actions-delete {
	width: 45px;
	height: 45px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	transition: opacity 200ms ease-in-out;
}
.card__actions-delete--hidden {
	opacity: 0;
}